<div class="swiper">
    <div class="swiper-color" #swipercolor></div>
    <span (click)="moveSwiperColor(1)">T i m e r 2</span>
    <span (click)="moveSwiperColor(2)">T i m e r 1</span>
    <span (click)="moveSwiperColor(3)">T i m e r 3</span>
</div>


<div class="main">
    <div class="main__same">
        <div id="progress">
            <div class="main__midle">
                <span class="main__midle-time">25:00</span>
                <div class="main__midle-start">P A U S E</div>
            </div>
        </div>
    </div>
</div>